apiVersion: v1
kind: PersistentVolumeClaim
metadata: 
  name: mongodb-pvc
  namespace: chat-app
  labels: 
    app: mongo-db
spec:
  storageClassName: local-storage
  accessModes: 
    - ReadWriteOnce
  resources: 
    requests: 
      storage: 5Gi
