apiVersion: apps/v1
kind: Deployment
metadata: 
  name: chat-mongo-db
  namespace: chat-app
spec: 
  replicas: 1
  strategy: 
    type: RollingUpdate
    rollingUpdate: 
      maxSurge: 1
      maxUnavailable: 1
  minReadySeconds: 5
  selector: 
    matchLabels:
      app: chat-mongo-db
  template: 
    metadata: 
      labels: 
        app: chat-mongo-db
    spec: 
      containers: 
        - name: chat-mongo-db
          image: mongo:latest
          imagePullPolicy: IfNotPresent
          env: 
            - name: MONGO_INITDB_ROOT_USERNAME
              value: "root"
            - name: MONGO_INITDB_ROOT_PASSWORD
              value: "admin"
          ports: 
            - containerPort: 27017
              name: mongodb
          volumeMounts: 
            - name: mongodb-persistent-storage
              mountPath: /data/db
      volumes: 
        - name: mongodb-persistent-storage
          persistentVolumeClaim: 
            claimName: mongodb-pvc

